@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");
body {
  background-image: url("https://images.pexels.com/photos/1959052/pexels-photo-1959052.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); }

#listaMenu {
  align-items: center;
  font-family: "Bangers", cursive;
  margin: auto;
  display: grid;
  background-color: none;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  justify-content: space-around; }

div {
  background-color: none;
  margin: auto; }

li {
  padding: 10px 10px 10px 10px;
  width: fit-content;
  list-style: none;
  margin-left: 20px; }

li a {
  background-color: blanchedalmond;
  text-decoration: none;
  color: black;
  padding: 5px;
  border-radius: 20px;
  font-size: 20px; }

#listaMenu li a:hover {
  background-color: black;
  color: wheat; }

#barra {
  background-color: rgba(0, 0, 0, 0.185); }

#barra div a {
  color: white;
  font-family: 'Teko', sans-serif;
  font-size: 4vh; }

#barra div form {
  font-family: 'Pacifico', cursive; }

#formulario {
  text-align: center;
  color: white;
  justify-content: center;
  align-items: center; }

footer {
  background: #16222A;
  background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
  background: linear-gradient(59deg, #3A6073, #16222A);
  color: white;
  margin-top: 100px; }

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s; }

footer a:hover {
  color: #FA944B;
  text-decoration: none; }

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF; }

.footer-middle {
  padding-top: 2em;
  color: white; }

/*SOCİAL İCONS*/
/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0; }

ul.social-network li {
  display: inline;
  margin: 0 5px; }

/* footer social icons */
.social-network a.icoFacebook:hover {
  background-color: #3B5998; }

.social-network a.icoLinkedin:hover {
  background-color: #007bb7; }

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff; }

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD; }

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px; }

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center; }

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s; }

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s; }

.social-network a {
  background-color: #F9F9F9; }

#textoProductos {
  color: whitesmoke;
  text-align: center;
  font-family: 'Staatliches', cursive;
  letter-spacing: 10px; }

footer div a img {
  width: 40px;
  height: 40px; }

.sucursal {
  font-family: 'Staatliches', cursive;
  word-spacing: 10px;
  letter-spacing: 10px;
  color: white; }

.textoAccesorios {
  color: white;
  font-family: 'Staatliches', cursive;
  word-spacing: 20px; }

.textoProm {
  color: white; }

#tablaProducto {
  width: 100%;
  margin-left: 35%; }

.tabla {
  background-color: rgba(255, 255, 255, 0.288); }

.tabla tr td {
  text-align: center;
  width: 100px;
  height: 100px; }

.tabla tr td img {
  width: 100px;
  height: 100px; }

#tablaAccesorios {
  width: 100%;
  margin-left: 35%; }

.accesorios {
  background-color: rgba(255, 255, 255, 0.288); }

.accesorios tr td {
  text-align: center;
  width: 100px;
  height: 100px; }

.accesorios tr td img {
  width: 100px;
  height: 100px; }

.listaDesplegable {
  display: block;
  text-decoration: none;
  background-color: black; }

.padreFlex {
  display: flex;
  flex-direction: column; }

.lorem {
  width: 100%;
  color: blanchedalmond; }

@media only screen and (min-width: 768px) {
  #listaMenu {
    grid-template-columns: 50% 50%; } }

@media only screen and (min-width: 1024px) {
  #listaMenu {
    grid-template-columns: 30% 30% 30%; } }
