@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
body{
    background-image: url('https://images.pexels.com/photos/1959052/pexels-photo-1959052.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  
}
.listaMenu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Bangers', cursive;
}

.listaMenu li{
    
    width: fit-content;
    list-style: none;
    margin-left: 20px;
   
}

.listaMenu li a{
    background-color: blanchedalmond;
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 20px;
    font-size: 20px;
    
}

.listaMenu li a:hover {
    background-color: black;
    color: wheat;


}
    
.header {
    background-color:none;
    width: 100%;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 10px;
    font-family: 'Bangers', cursive;
    word-spacing: 20px;
    letter-spacing: 10px;
}
.header .titulo{
    text-align: center;
    background-color: rgba(245, 222, 179, 0.548);
    width: 100%;
    height: 40px;
    border-radius: 20px;
}

#formulario{
    text-align: center;
    color: white;
}

footer{
    display: flex;
    background-color: rgba(255, 127, 80, 0.459);
    color: black;
    height: 170px;
    font-family: 'Rancho', cursive; 
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top:50px;
    width:100%;
    
}
footer div p{
   font-size: 40px;
}

footer div a{
    text-decoration: none;
    color: #000;
    font-size: 40px;
    margin: auto;
    padding-left: 30px;
}

.quienSomos{
    color:white;
    font-family: 'Staatliches', cursive;
    word-spacing: 20px;
    text-align: center;
    letter-spacing: 10px;
}

#textoProductos{
    color: whitesmoke;
    text-align: center;
    font-family: 'Staatliches', cursive;
    letter-spacing: 10px;
   
}



 footer div a img{
      width: 40px;
      height: 40px;
  }

  .sucursal{
    font-family: 'Staatliches', cursive;
    word-spacing: 10px;
    letter-spacing: 10px;
    color: white;
  }
  

  .textoAccesorios{
     color: white;
     font-family: 'Staatliches', cursive;
     word-spacing: 20px;
  }


  .textoProm{
      color: white;
  }

  #tablaProducto{
      width: 100%;
      margin-left: 35%;
  }

  .tabla{
      background-color: rgba(255, 255, 255, 0.288);
  }
  .tabla tr td{
      text-align: center;
      width: 100px;
      height: 100px;
  }

  .tabla tr td img{
    width: 100px;
    height: 100px;
  }
  #tablaAccesorios{
    width: 100%;
    margin-left: 35%;
  }
  .accesorios{
      background-color: rgba(255, 255, 255, 0.288);
  }

  .accesorios tr td{
    text-align: center;
    width: 100px;
    height: 100px;
  }

  .accesorios tr td img{
    width: 100px;
    height: 100px;
  }
  
.listaDesplegable{
    display: block;
    text-decoration: none;
    background-color: black;
}

#padreFlex{
display: flex;
flex-direction: column;
}