@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
.lista-menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.lista-menu li{
    
    width: fit-content;
    list-style: none;
    margin-left: 20px;
   
}

.lista-menu li a{
    background-color: blanchedalmond;
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 20px;
    font-size: 20px;
}

.lista-menu li a:hover {
    background-color: black;
    color: wheat;


}
    
.header {
    background-color: coral;
    width: 100%;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 10px;
}
.header .titulo{
    text-align: center;
    background-color: wheat;
    width: 100%;
    height: 40px;
}

#formulario{
    background-color: coral;
}

footer{
    display: flex;
    background-color: coral;
    color: black;
    height: auto;
    font-family: 'Rancho', cursive; 
    width: 100%;
    align-items: center;
    justify-content: center;
}
footer div p{
   font-size: 40px;
}

footer div a{
    text-decoration: none;
    color: #000;
    font-size: 40px;
    margin: auto;
    padding-left: 30px;
}

.quien-somos{
    color:red;
}

#texto-productos{
    color: yellowgreen;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: thistle;
  }

  table, th, td img {
      height: 100px;
      width: 100px;

  }

 footer div a img{
      width: 40px;
      height: 40px;
  }